@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body{
  min-height:100vh;
}
@import "fontAwesome/fontawesome.scss";
@import "fontAwesome/solid.scss";
@import "fontAwesome/regular.scss";
@import "fontAwesome/brands.scss";
@import "components/variables.scss";
@import "panel/panel.scss";
@import "panel/menu.scss";