.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.tile {
  background-color: #fff;
  padding: 15px;
}
.row-1-1 {
  > div {
    width: 100%;
  }
}
.row-1-2 {
  > div {
    width: calc(50% - 24px);
  }
}
.row-1-3 {
  > div {
    width: calc((100% / 3) - 16px);
  }
}
.row-1-4 {
  > div {
    width: calc((100% / 4) - 18px);
  }
}
