$dark-blue: #01172f;
$dark-blue-hover: #022750;
$dark-blue-active: #023872;
$dark-blue-darker: #010f1e;

$blue: #2196F3;
$blue-active: #03A9F4;
$blue-hover: #2ebcfc;


$light-grey: #eee;
$light-grey-hover: #ddd;

$grey: #bbb;
 